.carousel { display: flex; justify-content: center; align-items: center;}
.carousel button { border: none; background: none; color: white; font-size: 2em; cursor: pointer;}
.animalPictureCarousel {
    max-width: 300px;
    max-height: 300px;
}